*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
}

h1{ font-size: 4.5em;}
h2{ font-size: 3.7em;}
h3{ font-size: 3em;}
h4{ font-size: 2em;}
p{ font-size: 2.5em;}
ul{ list-style: none;}
li{ font-size: 2em;}

.container{
	padding: 60px 0;
	width: 80%;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
}

.color-acento{ color: #e71919;}

header{
	background-color: #83b1ee;
	width: 10em;
	height: 10em;
}

header .name{
	margin: 0;
	padding: 25px 30px;
	font-weight: bold;
	color: #0a6849;
	font-size: 1.6em;
}

header .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
}

header a{
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

header a:hover{
	color: #1425be;
}

#Nacido{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 60vh;
	background-image: linear-gradient(
	    0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url("img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#Nacido h1{
	color: white;
	font-size: 1.5em;
}

#Nacido p{
	display: none;
	color: white;
}

#Imineo .container{
	text-align: center;
	padding: 70px 12px;
}

#Imineo .container-2{
	text-align: center;
	padding: 70px 12px;
}

#Imineo .container-3{
	text-align: center;
	padding: 70px 12px;
}

#Kids{
	background-color: #f2f2f2;
}

#Kids .galeria-port{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#Kids .imagen-port{
	width: 24%;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

.imagen-port:img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

#Kids .hover-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	/*transform: scale(0);*/
	background:  #3b616d;
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hover-galeria:p{
	color: white;
	font-family: Rockwell;
}

.imagen-port:hover .hover-galeria{
	transform: scale(0);
}

#Kinal p{
	font-size: 1.5em;
}

#Kinal .cards{
	display: flex;
	justify-content: space-evenly;
}

.cards .card{
	background: #b1b085;
	display: flex;
	width: 60%;
	height: 400px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.cards .card:img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.cards .card .monte{
	width: 60%;
	color: #4a3b31;
}

.cards .card .monte:p{
	font-weight: 300;
	padding-top: 5px;
}

footer{
	background-color: black;
}

footer p{
	margin: 0;
	padding: 12px;
	color: white;
}

footer .container{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

@media (min-width: 720px){
	header{
		position: fixed;
		width: 100%;
	}
	
	header .container{
		flex-direction: row;
		justify-content: space-between;
	}
	
	header nav{
		flex-direction: row;
		padding-right: 20px;
	}
	
	#Nacido h1{
		font-size: 3.5em;
	}
	
	#Nacido p{
	    display: block;
	}

	#Imineo .container{
		display: flex;
		justify-content: space-evenly;
	}
	
	#Imineo .texto{
		width: 50%;
		max-width: 400px;
		text-align: initial;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#Imineo h2{
		margin-top: 0px;
	}
	
	#Imineo img{
		background-size: cover;
		background-position: left;
		height: 500px;
		width: 500px;
	}
	
	#Imineo .container-2{
		display: flex;
		justify-content: space-evenly;
	}
	
	#Imineo .texto(2){
		background-repeat: no-repeat;
		background-size: 300px 200px;
		background-position: calc(100vw - 300px) 120px;
		padding-top: 2cm;
	}
	
	#Imineo .container-3{
		display: flex;
		justify-content: space-evenly;
	}
	
	#Imineo .texto(3){
		width: 40%;
		max-width: 300px;
		text-align: initial;
		padding-right: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2cm;
	}

    #Kinal .cards{
	    display: flex;
	    justify-content: space-evenly;
    }

    .cards .card{
	    background: #b1b085;
	    display: flex;
	    width: 95%;
	    height: 400px;
	    align-items: center;
	    justify-content: space-evenly;
	    border-radius: 5px;
	    box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
    }

    .cards .card:img{
	    width: 100px;
	    height: 100px;
	    object-fit: cover;
	    border: 3px solid #fff;
	    border-radius: 50%;
	    display: block;
    }

    .cards .card .monte{
	    width: 60%;
	    color: #4a3b31;
    }

    .cards .card .monte:p{
	    font-weight: 300;
	    padding-top: 5px;
    }
}

@media (min-width: 1200px){
	#juega{
		background-position-x: calc(100vw - 800px);
	}
}